pandas
numpy
matplotlib
scikit-learn
seaborn
langchain
faiss-cpu
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-huggingface
chromadb
pypdf
openai
groq
streamlit
faiss-cpu
PyMuPDF
